.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit);
  }
.image-grid .image-item:nth-child(4n) {
  grid-column-end: span 3;
}

@media screen and (max-width:900px){
  .image-grid{
    display: block;
  }
}

.myClass > li > button {
  color: #404040 ;
  font-family: Lora, serif;
}

.mb-3 > li > button {
  color: #404040 ;
}

.mb-3{
  color: white ;
}

li > .active {
  background-color: grey;
}

.myClass > li > button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: gray;
  color: black;
}