.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit);
  }
.image-grid .image-item:nth-child(4n) {
  grid-column-end: span 3;
}

@media screen and (max-width:900px){
  .image-grid{
    display: block;
  }
}

.mb-3 > a {
  color: #404040;
}

.mb-3 > a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: grey;
}